[Unit]
Description=Chromium Kiosk (Grafana/Node-RED)
After=graphical-session.target network-online.target
Wants=network-online.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/chromium-browser --kiosk --incognito --noerrdialogs --disable-infobars --check-for-update-interval=31536000 http://localhost:1880/dashboard/
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
